.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.date-string{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}

.time {
  display: flex;
  height: 80px;
  width: 500px;
  align-items: center;
  justify-content: center;
}

.time-string {
  display: flex;
  font-size: 50px;
  font-weight: bold;
  color: #fff;

  .number {
    width: 65px;
    text-align: center;
  }
}
