div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-size: 50px;
  color: #fff;
  margin: 0;
}

h3 {
  font-size: 20px;
  color: #fff;
  margin: 0;
}
